# datatypes 
python has many datatypes but we can learn basic 9 types 
- integer
- float
- string
- boolean
- Nonetype
- list
- tuple
- set
- dict

the basic types allow you to write any kind of program when u get a hang of them

### integer - any positive or negative number including 0
10
200
3000
-20
-298328
8123128931289
- `int` name of datatype in python
- `int()` name of constructor or type cast function

## float - any real number 
.9 0.321 -1.232 3.145 3.421312313123123123123 2312313.123 1.00000000
- `float` name
- `float()` constructor name

## String - anything in single, double or triple quotes is a string
```
'apple'         -> single line string
"apricot"       -> single line string
'''alabama'''   -> multiline string
"""aeroplane""" -> multiline string
```
- `str` name
- `str()` constructor
- immutable

## boolean - True and False values only
True False 
- `bool` name
- `bool()` constructor

## Nonetype - datatype to tell when a variable is holding nothing
None
- `None` name

## list - store multiple values in a single container
- properties
    - heterogenous
    - indexed and ordered
    - dynamic
    - it can have duplicates
    - represented by `[ ]` brackets
    - `list` name
    - `list( )` constructor
- examples

    `[1,2,3]`

    `['apple','banana','apricot']`

    `['raj','banker',93020,True,[15,12,5],False]`
    
    `[]`

## tuple - store multiple values, cannot be changed after creation
- properties
    - `tuple` name
    - `tuple( )` constructor
    - immutable
    - indexed and ordered
    - heterogenous
    - can have duplicates
    - represented by `( )` bracket
- examples

    `1,2,3`

    `(1,2,3)`

    `('a','b','c')`

    `(1,'a',2,'b')`

    `()` -> empty tuple

## set - store multiple values which are only unique 
- properties
    - heterogenous
    - unindexed and unordered
    - dynamic
    - can only have unique values
    - represented by `{ }` bracket
    - `set` name
    - `set()` constuctor
- examples

`{1,2,3}`

`{'a','c','b'}`

`{'hey','this','is',10,20,30}`

`set()` -> empty set

## dictionary - store data in key value format
- properties 
    - key : value based
    - dynamic (mutable)
    - keys are always immutable and unique (Strings or tuples)
    - values can be anything
    - represented by `{}`
    - `dict` name
    - `dict()` constructor 
- example

    `{'raj':30,'ravi':40,'rohan':50}`
    
    `{
        'a':'apple',
        'b':'banana'
    }
    `

# variables

In [25]:
a = 10

In [26]:
a

10

In [27]:
name= 'Zaid kamil'

In [28]:
name

'Zaid kamil'

In [29]:
a

10

In [30]:
iq = 99.2323

In [31]:
x= [1,2,3]

In [32]:
y = ('a','m','e','rica')

In [33]:
z = {'a','c','b'}

In [34]:
marks = {'raj':30,'ravi':40,'rohan':50}

In [35]:
total = None

In [36]:
fav_color_2 ='yellow'