In [1]:
x = [1,2,3,4]

# lists properties
- are heterogenous
- are ordered and indexed
- are mutable and dynamic
- represented by `[ ]`
- can be nested 
- `list( )` function is to convert other values into list

In [3]:
x = [1,2,3,'a','b','c',True,False, [1,1,2]] # heterogenous

In [4]:
x

[1, 2, 3, 'a', 'b', 'c', True, False, [1, 1, 2]]

In [5]:
x[0]

1

In [6]:
x[6]

True

In [7]:
x[0] = "hello" # mutable
x

['hello', 2, 3, 'a', 'b', 'c', True, False, [1, 1, 2]]

In [8]:
x + [22,33,44]

['hello', 2, 3, 'a', 'b', 'c', True, False, [1, 1, 2], 22, 33, 44]

In [9]:
name = "zaid"

In [10]:
list(name)

['z', 'a', 'i', 'd']

In [14]:
name[0] = 'n' # string is immutable

TypeError: 'str' object does not support item assignment

## learn
- creating 
- indexing
- slicing
- functions

In [16]:
x = [1,2,3,4,5]

In [17]:
colors = ['red','green','yellow']

In [18]:
blank = [] #empty

In [19]:
nested_list = [[1,2,3],[2,3],[12,34,54]]

In [23]:
charlist = list(name)
charlist

['z', 'a', 'i', 'd']

In [27]:
z = [3] * 10 # list multiplication
z

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [29]:
m = [1,2,3]+[2,3,4]

In [35]:
usercolorlist = input('enter 3 colors sep with spaces').split()
usercolorlist

['red', 'green', 'blue']

In [36]:
fav_dishes = input('enter your fav dishes sep with comma').split(',')
fav_dishes

['maggi', 'pizza', 'rice', 'biryani']

### indexing

In [48]:
x = [1,2,3,2,4,5,5,6,7,7,8,8,9,1,2,3,4,1,2]

In [39]:
x[0]

1

In [40]:
x[-1]

12

In [41]:
x[-2]

34

In [42]:
x[7]

7

### slicing

In [44]:
x[:3]

[1, 2, 3]

In [45]:
x[-5:]

[78, 89, 12, 34, 12]

In [49]:
sum(x)

80

In [50]:
x

[1, 2, 3, 2, 4, 5, 5, 6, 7, 7, 8, 8, 9, 1, 2, 3, 4, 1, 2]

In [51]:
max(x)

9

In [52]:
min(x)

1

In [53]:
len(x)

19

In [54]:
for i in x:
    print(i)

1
2
3
2
4
5
5
6
7
7
8
8
9
1
2
3
4
1
2

### functions
- adding items
    - append
    - insert
    - extend
- remove items
    - remove
    - pop
    - clear
- helpers
    - count
    - index
    - copy
    - reverse
    - sort

In [60]:
x.append(100)

In [62]:
x.append(200)
x

[1, 2, 3, 2, 4, 5, 5, 6, 7, 7, 8, 8, 9, 1, 2, 3, 4, 1, 2, 100, 100, 200]

In [67]:
x.remove(2)
x

[1, 3, 4, 5, 5, 6, 7, 7, 8, 8, 9, 1, 3, 4, 1, 100, 100, 200]

In [70]:
if 2 in x:
    x.remove(2) # its a dangerous function
x

[1, 3, 4, 5, 5, 6, 7, 7, 8, 8, 9, 1, 3, 4, 1, 100, 100, 200]

In [71]:
x.append('*')

In [72]:
x

[1, 3, 4, 5, 5, 6, 7, 7, 8, 8, 9, 1, 3, 4, 1, 100, 100, 200, '*']