In [1]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [2]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
name = "zaid kamil"

In [4]:
len(name)

10

In [5]:
for item in name:
    print(item)

z
a
i
d

k
a
m
i
l

*syntax*
```python

for temp_var in iterator:
    statement1
    statement2
    ...
    statement2

```

In [7]:
colors = ['red','blue','green','orange','purple']
for i in colors:
    print(f'Roses are {i}')

Roses are red
Roses are blue
Roses are green
Roses are orange
Roses are purple

In [ ]:
for i in colors:
    if 'r' in i:
        print(f'Roses are {i}')

In [13]:
x = [2,3,1,2,3,45,5,6,65,4,23,3,32,32,12,23,3,1,2,3,21,123,32,2]
for item in x:
    if item % 2 != 0:
        print(item)

3
1
3
45
5
65
23
3
23
3
1
3
21
123

In [17]:
sum(x) # already available in  python

448

In [18]:
total = 0
for i in x:
    total = total + i

In [19]:
print(total)

448

In [21]:
total = 0
for i in x:
    if i % 2 == 0 :
        total += i
print(total)

126

In [26]:
# how many odd values are their in x list
counter = 0
for i in x:
    if i % 2 != 0:
        counter+=1

In [28]:
if counter:
    print(f'{counter} odd items')
else:
    print("No odd values (VERY ODD INDEED)")

No odd values (VERY ODD INDEED)

In [35]:
for i in range(5):
    print(i)

0
1
2
3
4

In [36]:
for i in range(5, 20):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [37]:
for i in range(1,25,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23

In [39]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [43]:
# printing pattern
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [44]:
# find the avg of all values in a list in 10 elements

In [45]:
# find the max value in a numerical list
# find the min value in a numerical list

In [46]:
# display all the names that contain 'a' in a list of names of cricketers