In [ ]:
a = "apple"

In [ ]:
a #raw output

In [ ]:
print(a) # formatted output

In [ ]:
print("i like apple") # fixed msg

In [ ]:
fruit = "custard apple"
print('i like',fruit)

In [ ]:
knight = "windrunner"
place ='urithiru'
print('the hero called',knight,'flew up for the top of',place)

In [ ]:
# todo declare a distance variable 
print('the hero called',knight,'flew up for the top of',place,'the place was',distance,'ft. long')

In [18]:
a = 10
b = 20
c = a + b

In [19]:
# 1. comma seperated printing
print(a,'+',b,'=',c)

10 + 20 = 30

In [26]:
knight + place + str(a)

'windrunnerurithiru10'

In [22]:
# 2. concatenation based printing 
print(str(a) + "+" + str(b) + "=" + str(c)) 
# we dont use this ever

10+20=30

In [27]:
# 3. using format specifier string
# %s - string
# %d - digit
# %f - float
print('%d + %d = %d' %(a,b,c))
# we dont use it

10 + 20 = 30

In [28]:
# 4. using format method
print("{} + {} = {}".format(a,b,c))
# old way of doing formatted output till version 3.5

10 + 20 = 30

In [29]:
# 5. with f-strings - the best way
print(f'{a} + {b} = {c}')

10 + 20 = 30

In [33]:
print(f'{knight} went to the tower of {place}')

windrunner went to the tower of urithiru

- input() in python is for getting user data
- everything that is entered by user is a string type
- you need to store the result of input in a variable

In [38]:
city = input()

In [39]:
print(f'you live in {city}')

you live in abra cadabra

In [41]:
address = input("please tell your address >>")

In [42]:
print(f'Address : {address}')

Address : vikas nagar, lucknow

In [60]:
salary = input('what is your basic salary? ')

In [61]:
salary = int(salary)
hra = salary * .1 # 10% HRA
print(hra)

2398.9

In [62]:
ta = salary * .05

In [63]:
da =  salary * .07

In [64]:
total_salary = da + ta + hra + salary
print(total_salary)

29266.58

In [65]:
print(f'BASIC PAY : {salary}')
print(f'T.A : {ta}')
print(f'D.A : {da:.2f}')
print(f'H.R.A : {hra}')
print(f'total => {total_salary}')

BASIC PAY : 23989
T.A : 1199.45
D.A : 1679.23
H.R.A : 2398.9
total => 29266.58

# operators

# math
```python
+   addition 
-   substraction 
/   division 
*   multiplication
**  exponent 
%   modulus 
//  integer division
```

In [68]:
10 + 2 * 3 - 4 / 2 + 10 ** 2

114.0

 ```python
 10 + 2 * 3 - 4 / 2 + 100
 10 + 6 - 4 / 2 + 100
 10 + 6 - 2.0 + 100
 16 - 2.0 + 100
 14.0 + 100
 114.0
```       

precedence
```
|1.     |   ()        bracket       |
|2.     |   **        exponent      |
|3.     |   * / % //  mul and div   |
|4.     |   + -       add and sub   |
```