Q3. Write a program which accepts a sequence of comma-separated numbers from input and generates a list which contains every number.

In [6]:
data = [ int(i) for i in input('enter all numbers').split(',')] # comprehension

In [7]:
print(data)

[1, 2, 3, 1, 2, 2, 2, 2, 1, 2, 2, 3, 3, 1, 1, 2, 2]

Q4. Write a program that accepts a comma separated sequence of words as input and stores them in a list in alphabetically sorted order.

In [8]:
data = [ int(i) for i in input('enter all numbers').split(',')]
data.sort()
print(data)

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3]

Q5. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.

In [13]:
even_digits_numbers = []
for i in range(1000,3001):
    num = [int(n) for n in list(str(i))]
    for val in num:
        if val % 2 != 0:
            break
    else:
        even_digits_numbers.append(i)
print(even_digits_numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

In [20]:
even_digits_numbers = []
for i in range(1000,3001):
    num =[]
    for n in list(str(i)):
        num.append(int(n))
    for val in num:
        if val % 2 != 0:
            break
    else:
        even_digits_numbers.append(i)

In [28]:
even_digits_numbers = []
for i in range(1000,3001):
    num = i
    while num > 0:
        last_digit = num % 10 # get the last digit
        if last_digit % 2 != 0:
            break
        num = num // 10 # remove the last digit
    else:
        even_digits_numbers.append(i)

In [29]:
print(even_digits_numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Q6. Sort the list below acc. to their user id :  
`users = ['user_9434344', 'user_8643', 'user_567325']`

In [43]:
users = ['user_9434344', 'user_8643', 'user_567325']
num_id =[]
sorted_users = []
for id in users:
    num_id.append(int(id.split('_')[1]))
num_id.sort()
for id in num_id:
    sorted_users.append(f'user_{id}')

In [44]:
print(users)
print(sorted_users)

['user_9434344', 'user_8643', 'user_567325']
['user_8643', 'user_567325', 'user_9434344']

Q7. WAP to take movie names from user and store them in a list until an empty string is given by user.

In [45]:
movies = []
while True:
    name =input('enter movie name:')
    if not name:
        break
    movies.append(name)
print(movies)

['inception', 'dunkirk', 'interstellar']

Q8. WAP to remove the elements on even indices from a list.

In [49]:
data = [1,2,3,4,5,6,7,8,9]
data = data[1::2] # odd indexes
data

[2, 4, 6, 8]

In [56]:
data = [1,2,3,4,5,6,7,8,9]
data_cleaned = []
for i in range(len(data)):
    if i % 2 != 0:
        data_cleaned.append(data[i])
data_cleaned

[2, 4, 6, 8]

Q9. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.

In [57]:
data = [ int(i) for i in input('enter all numbers').split(',')]
data_sqr = [i**2 for i in data if i%2 != 0] 
print(data)
print(data_sqr)

[2, 4, 1, 2, 3, 4, 5, 6, 1, 2, 3, 5, 1, 2, 3]
[1, 9, 25, 1, 9, 25, 1, 9]

Q11. WAP to take task names from user and print ‘task already added’ if it is already in the list.

In [60]:
tasks = []
while True:
    taskname = input('enter task:')
    if taskname:
        if taskname.lower() in tasks:
            print('task already exists')
        else:
            print(f'{taskname} added to list')
            tasks.append(taskname.lower())
    else:
        print('closing task list')
        break
print(tasks)

1 added to list
task already exists
2 added to list
3 added to list
task already exists
task already exists
task already exists
task already exists
task already exists
task already exists
closing task list
['1', '2', '3']

Q12. WAP to take first & second names as input from the user and add all the first names in a list

In [63]:
names =[]
while True:
    fname = input('FIRST NAME: ')
    lname = input('LAST NAME: ')
    if fname:
        names.append(fname)
    else:
        break
print(names)

raja
sonu
himesh

In [64]:
names =[]
while True:
    fname = input('FIRST NAME: ')
    lname = input('LAST NAME: ')
    if fname:
        names.append(f'{fname} {lname}')
    else:
        break
for name in names:
    print(name.split()[0])

['raja babu', 'sonu beta', 'himesh reshamiya']