In [1]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [2]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
name = "zaid kamil"

In [4]:
len(name)

10

In [5]:
for item in name:
    print(item)

z
a
i
d

k
a
m
i
l

*syntax*
```python

for temp_var in iterator:
    statement1
    statement2
    ...
    statement2

```

In [7]:
colors = ['red','blue','green','orange','purple']
for i in colors:
    print(f'Roses are {i}')

Roses are red
Roses are blue
Roses are green
Roses are orange
Roses are purple

In [ ]:
for i in colors:
    if 'r' in i:
        print(f'Roses are {i}')

In [13]:
x = [2,3,1,2,3,45,5,6,65,4,23,3,32,32,12,23,3,1,2,3,21,123,32,2]
for item in x:
    if item % 2 != 0:
        print(item)

3
1
3
45
5
65
23
3
23
3
1
3
21
123

In [17]:
sum(x) # already available in  python

448

In [18]:
total = 0
for i in x:
    total = total + i

In [19]:
print(total)

448

In [21]:
total = 0
for i in x:
    if i % 2 == 0 :
        total += i
print(total)

126

In [26]:
# how many odd values are their in x list
counter = 0
for i in x:
    if i % 2 != 0:
        counter+=1

In [28]:
if counter:
    print(f'{counter} odd items')
else:
    print("No odd values (VERY ODD INDEED)")

No odd values (VERY ODD INDEED)

In [35]:
for i in range(5):
    print(i)

0
1
2
3
4

In [36]:
for i in range(5, 20):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [37]:
for i in range(1,25,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23

In [39]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [43]:
# printing pattern
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [44]:
# find the avg of all values in a list in 10 elements

In [45]:
# find the max value in a numerical list
# find the min value in a numerical list

In [46]:
# display all the names that contain 'a' in a list of names of cricketers

## pattern printing

In [1]:
"a" * 5

'aaaaa'

In [2]:
"hey "* 3

'hey hey hey '

In [5]:
print('*' * 1)
print('*' * 2)
print('*' * 3)
print('*' * 4)
print('*' * 5)
print('*' * 6)

*
**
***
****
*****
******

In [6]:
for i in range(1,26):
    print('*' * i)

*
**
***
****
*****
******

In [7]:
for i in range(6,0,-1):
    print("L" * i)

LLLLLL
LLLLL
LLLL
LLL
LL
L

#### loop keyword
- break - stopping loop early
- continue  - skipping loop iteration

In [9]:
for i in range(1,101):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [15]:
limit = int(input('how many values you want => '))
c = 0
for i in range(1,101):
    if i % 5 == 0:
        c += 1
        print(i)
    if c == limit:
        break

5
10
15
20
25

In [16]:
for i in range(10):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

In [19]:
fruits = ['apple','banana','cherry','dragonfruit','grapes']

In [22]:
ur_fruit = input('enter your fruit name:')
for item in fruits:
    if item == ur_fruit:
        break
    print(item)

apple
banana
cherry
dragonfruit
grapes

In [23]:
for i in range(10):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8

In [24]:
movies = ['The Howl','zindaa','avengers','batman',"",
            'spider man','wonder women',"",'shawshank redemption',
            'Woman in Black',"",'shazam']
len(movies)

12

In [26]:
for name in movies:
    if len(name) == 0:
        continue
    print(name)

The Howl
zindaa
avengers
batman
spider man
wonder women
shawshank redemption
Woman in Black
shazam

### special loop function
- enumerate -> index and values in the same loop
- zip -> multiple iterator in a single loop

In [28]:
topics = ['computer vision','iot','Natural language processing','data mining','web scraping','machine learning']

In [30]:
# without enumerate
c = 0
for name in topics:
    print(c, name)
    c +=1

0 computer vision
1 iot
2 Natural language processing
3 data mining
4 web scraping
5 machine learning

In [31]:
# with enumerate
for name in enumerate(topics):
    print(name)

(0, 'computer vision')
(1, 'iot')
(2, 'Natural language processing')
(3, 'data mining')
(4, 'web scraping')
(5, 'machine learning')

In [32]:
# with enumerate
for idx ,name in enumerate(topics):
    print(idx, name)

0 computer vision
1 iot
2 Natural language processing
3 data mining
4 web scraping
5 machine learning

In [34]:
for idx ,name in enumerate(topics):
    if idx == 3:
        break
    print(idx, name)

0 computer vision
1 iot
2 Natural language processing

In [41]:
# wap to calculate the sum of all even indexes in a list of numbers
x = [1,2,3,1,2,23,12,2,33,31,2,3,22,2,2,1,1,2,2,2,3,3,3,1,3,1,1]
total = 0
for idx,val in enumerate(x):
    if idx % 2 == 0:
        total+=val
        # print(idx,val)
print(f'sum of even indexes {total}')

sum of even indexes 90

In [50]:
x = [1,2,3,4]
y = [3,4,5,2]
# print it like this
# 1 3
# 2 4
# 3 5
# 4 2

In [51]:
# without using zip
for i in range(len(x)):
    print(x[i], y[i])

1 3
2 4
3 5
4 2

In [58]:
# with zip function
for i,j in zip(x,y):
    print(i,j)

2 4
5 3
4 2
3 1

In [53]:
# with zip function - we can do logical coding
for i,j in zip(x,y):
    print(i+j)

4
6
8
6

# while loop

In [59]:
n = 10
while n>0:
    print('hey there, check value of',n)
    n -= 1

hey there, check value of 10
hey there, check value of 9
hey there, check value of 8
hey there, check value of 7
hey there, check value of 6
hey there, check value of 5
hey there, check value of 4
hey there, check value of 3
hey there, check value of 2
hey there, check value of 1

In [62]:
num = 12345
rev = 0
while num > 0:
    r = num % 10
    rev = rev * 10 + r
    num = num // 10
print(rev)

54321

In [64]:
while True:
    pwd = input('give me the password to open cave : ')
    if pwd == 'open sesame':
        print("the cave is open to you")
        break
    else:
        print("wrong password")

wrong password
wrong password
wrong password
the cave is open to you