# function with parameter
- required
- default
- variable argument

## required parameters

In [1]:
def add3(a,b,c): 
    print(a+b+c)

In [2]:
add3(1,2,3)

6

In [3]:
add3(2,3,2)

7

In [8]:
def reverse_word(sentence):
    rev_words = []
    for word in sentence.split():
        rev_words.append(word[::-1])
    return rev_words

In [9]:
reverse_word('hi there')

['ih', 'ereht']

In [10]:
reverse_word('there is a way to learn coding')

['ereht', 'si', 'a', 'yaw', 'ot', 'nrael', 'gnidoc']

In [13]:
# here is an error
add3(10,12) # parameter is required

TypeError: add3() missing 3 required positional arguments: 'a', 'b', and 'c'

In [12]:
len()

TypeError: len() takes exactly one argument (0 given)

In [14]:
add3(1,10,100)

111

In [15]:
add3(a=1, b=2, c=3) # named parameter passing

6

In [19]:
add3(b = 100, a = 200, c= 100)

TypeError: add3() missing 1 required positional argument: 'a'

In [17]:
reverse_word(sentence="hello world")

['olleh', 'dlrow']

## default parameters

In [35]:
def fibonacci(num1, num2, size = 10):
    ''' this function will generate the fibonacci
        0, 1, 1, 2, 3, 5, 8, 13, 21
        num1 - first number

        num2 - second number

        size - limit of series, default is 10

        ex -> fibonacci(0,1,5)
    ''' 
    x = [num1, num2]
    for i in range(size-2):
          x.append(x[-1] + x[-2])
    return x

In [29]:
fibonacci(0, 1, 10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
fibonacci(num1 = 2, num2 = 4, size= 10)

[2, 4, 6, 10, 16, 26, 42, 68, 110, 178]

In [33]:
print("hi", end=' ') # HERE END IS A DEFAULT PARAMETER
print("there")

hi there

In [36]:
fibonacci(1,2)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [37]:
fibonacci(1,2,5)

[1, 2, 3, 5, 8]

In [38]:
fibonacci(num1=2, num2=3,)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [40]:
fibonacci(num1=2, num2=3,size=6)

[2, 3, 5, 8, 13, 21]

In [41]:
def add4(a,b=1,c=1,d=1):
    return a+b+c+d

In [42]:
add4(10)

13

In [43]:
add4(10,12,)

24

In [44]:
add4(b=10,a=12,)

24

## variable arguments

In [51]:
def mean(*numbers):
    size = len(numbers)
    total = sum(numbers)
    return total/size

In [52]:
mean(1,2,3,4,1,2,2,12,)

3.375

In [60]:
def budget_store(**product):
    for k,v in product.items():
        print(k,v)

In [61]:
budget_store(tea= 200,fruits=500, shoes=3000)

tea 200
fruits 500
shoes 3000
{'tea': 200, 'fruits': 500, 'shoes': 3000}

In [62]:
def student_grader(**data):
    total = 0
    for k,v in data.items():
        total +=v
    return total

In [63]:
student_grader(raj=10,ajay=50,vijay=32,rohan=20)

112

In [64]:
student_grader(vijay=32,rohan=20)

52

# Lambda expression, map and reduce
- anonymous function

In [71]:
# f(x) = x + 10 - x*3

eq = lambda x : x - 10 + x * 3

In [70]:
eq(4)

2

In [73]:
# f(x,y) = x * y/2 + 10 
eq2 = lambda x,y : x * y/2 + 10

In [74]:
eq2(2,4)

14.0

In [79]:
last3words = lambda msg : " ".join(msg.split()[-3:])

In [80]:
last3words("is it always used for mathematical equation")

'for mathematical equation'

In [81]:
last3words('this is the best way to write a code in one line')

'in one line'

In [83]:
x = [12,23,34,56,67,23,88,9,10,90]

In [85]:
list(map(eq, x))

[38, 82, 126, 214, 258, 82, 342, 26, 30, 350]

In [5]:
x = [10,12,13]
y= []
x0 = x[0]+3
x1 = x[1]+3
x2 = x[2]+3
y.append(x0)
y.append(x1)
y.append(x2)
print(x)
print(y)

[10, 12, 13]
[13, 15, 16]

In [7]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []
for num in a:
    out =  num + 5
    b.append(out)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [16]:
b = map(lambda i: i+5, a)

In [17]:
b = list(b)

In [20]:
c = list(map(lambda i: i*3+5, a))
print(c)

[8, 11, 14, 17, 20, 23, 26, 29, 32, 35]