# set properties
- are heterogenous
- are unordered and unindexed
- are mutable and dynamic
- represented by `{ }`
- can be nested
- all values in a set are unique (duplicates are removed automatically)
- set( ) function is to convert other values into set
- empty set is create using `set()`

# main 
- creation
- loops
- functions
- operators

In [3]:
a = { 1,2,3,4 } 
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [4]:
a = {1,2,3,3,4,1,2,2,2,2,1,2,3,4,1}
print(a)

{1, 2, 3, 4}

In [5]:
a[0]

TypeError: 'set' object is not subscriptable

In [6]:
for item in a:
    print(item)

1
2
3
4

In [8]:
al = list(a)

In [9]:
x = [] # list empty
y = () # empty tuple -> this is stupid
z = {} # empty dict
w = set() # empty set -> because of 3rd line

In [9]:
knights1 = {"windrunners",'skybreakers','dustbringers','edgedancers'}
knights2 = {'truthwatchers','lightweavers','elsecallers','bondsmiths'}
knights3 = {'truthwatchers','elsecallers','edgedancers','skybreakers'}

In [10]:
knights1.union(knights2)

{'bondsmiths',
 'dustbringers',
 'edgedancers',
 'elsecallers',
 'lightweavers',
 'skybreakers',
 'truthwatchers',
 'windrunners'}

In [8]:
knights1 | knights2

{'bondsmiths',
 'dustbringers',
 'edgedancers',
 'elsecallers',
 'lightweavers',
 'skybreakers',
 'truthwatchers',
 'windrunners'}

In [14]:
common_knights = knights1.intersection(knights3)
common_knights

{'edgedancers', 'skybreakers'}

In [13]:
knights1.intersection(knights2) #  nothing is common

set()

In [17]:
knights2 & knights3

{'elsecallers', 'truthwatchers'}

In [18]:
knights1.difference(knights2)

{'dustbringers', 'edgedancers', 'skybreakers', 'windrunners'}

In [19]:
knights1.difference(knights3)

{'dustbringers', 'windrunners'}

In [23]:
knights1 - knights2 - knights3

{'dustbringers', 'windrunners'}

In [24]:
a = {1,2,3,4}
b = {8,9,10,4}

In [26]:
a.symmetric_difference(b)

{1, 2, 3, 8, 9, 10}

In [27]:
a ^ b

{1, 2, 3, 8, 9, 10}

In [30]:
c = {1,2,3}

In [33]:
a.isdisjoint(b)

False

In [34]:
a.issuperset(b)

False

In [35]:
a

{1, 2, 3, 4}

In [40]:
a.issuperset(c)

True

In [42]:
a.remove(4)

In [43]:
a

{1, 2, 3}

In [44]:
a.pop()

1

In [46]:
a

{2, 3}

In [47]:
b

{4, 8, 9, 10}

In [48]:
a.isdisjoint(b)

True

In [50]:
c.isdisjoint(a)

False

In [55]:
avengers  = {'cpt america','ironman','black widow','hulk','thor','hawkeye','winter soldier','falcon'}
capamerica = {'cpt america','winter soldier','falcon'}
batman = {'Batman','Joker','Catwoman'}

In [56]:
capamerica.issubset(avengers)

True

In [57]:
avengers.isdisjoint(batman)

True

In [59]:
bikes = {'pulsar','apache','passion','discover'}
bajajbikers = {'pulsar','discover'}

In [60]:
bikes.issuperset(bajajbikers)

True

In [62]:
x = [1,2,3,4,5,1,2,2,2,1,2,2,23,3,31]
x = list(set(x))

In [63]:
x

[1, 2, 3, 4, 5, 23, 31]

In [66]:
x ={1,2,3,4,1,2,2,1,1,2,2,1,}
x2 = {i**2 for i in x} # comprehension

In [65]:
x2

{1, 4, 9, 16}