# tuple properties
- are heterogenous
- are ordered and indexed
- are immutable
- represented by `( )`
- can be nested
- tuple( ) function is to convert other values into tuple

In [1]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [2]:
b = 12, 45, 56
print(b)

(12, 45, 56)

In [4]:
c =((1,2),(2,3))

In [5]:
d = ('hello','brother',3,5,2,3,1,True)

In [6]:
d

('hello', 'brother', 3, 5, 2, 3, 1, True)

In [8]:
a[1] = 22 # fail - tuples are immutable

TypeError: 'tuple' object does not support item assignment

# indexing

In [9]:
a[2]

3

In [10]:
a[1]

2

In [11]:
a[-1]

3

In [12]:
a[0]

1

In [13]:
a[5]

IndexError: tuple index out of range

In [14]:
x = (1,1,1,2,2,2,33,33,33)

In [15]:
x[:3]

(1, 1, 1)

In [16]:
x[-3:]

(33, 33, 33)

# functions
- count()
- index()

In [20]:
x.count(2)

3

In [23]:
d.index('brother')

1

In [24]:
for i in x:
    print(i)

1
1
1
2
2
2
33
33
33

In [28]:
del x

# conversion b/w list and tuples

In [32]:
a = [1,2,3,4]
b = (1,3,2,3,1)

In [33]:
at = tuple(a)
print(at, a)

(1, 2, 3, 4) [1, 2, 3, 4]

In [34]:
bl = list(b) # tuple to list
print(bl, b)

[1, 3, 2, 3, 1] (1, 3, 2, 3, 1)

In [37]:
at*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [38]:
x = (a,b,)

In [39]:
x

([1, 2, 3, 4], (1, 3, 2, 3, 1))